---
layout: default
---

<main class="wrapper" ng-app="slaskIT" ng-controller="EventsController" ng-cloak>
  {% raw %}

  <p class="text-muted" ng-if="!loaded">Ładowanie wydarzeń…</p>

  <ul class="days" ng-if="loaded">
    <li class="day" ng-repeat="day in days">
      <div class="day-label">
        <div class="day-number">{{day.day}}</div>
        <div class="month">{{day.event.miesiac}}</div>
      </div>
      <ul class="events">
        <li class="event" ng-repeat="event in events | filter : dayMatcher(day) ">
          <p class="event-header">
            <span>{{event["y:published"].hour}}:{{event.minuty}}</span>
            |
            <a href="{{event.link}}">
              <strong>
                {{event.title}}
              </strong>
            </a>
          </p>
          <p class="event-place">
            {{event.Nazwamiejsca}}, {{event.Miasto}}, {{event.Adres}}
          </p>
          <p class="event-description">
            {{event.Opis}}
          </p>
        </li>
      </ul>
    </li>
  </ul>
  {% endraw %}
</main>
