---
layout: default
---

<main class="container" ng-app="slaskIT" ng-controller="EventsController" ng-cloak>
  {% raw %}

  <p class="text-muted text-center loading" ng-if="!loaded">Ładowanie wydarzeń…</p>

  <div class="row" ng-if="loaded">
    <div class="day" ng-repeat="(day, events) in days">
      <div class="col-sm-2">
        <div class="day-label text-center">
          <div class="day-name">{{day | date:'EEEE'}}</div>
          <div class="day-number">{{day | date:'d'}}</div>
          <div class="month">{{day | date:'MMMM'}}</div>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="event" ng-repeat="event in events">
          <p class="event-header">
            <span>{{event.date | date:'H:mm'}}</span>
            |
            <a href="{{event.gsx$linkdostrony.$t}}" target="_blank">
              <strong>
                {{event.gsx$nazwa.$t}}
              </strong>
            </a>
          </p>
          <p class="event-place">
            <a href="{{event | googleMapsUrl}}" target="_blank">
              <span ng-show="event.Nazwamiejsca">{{event.gsx$nazwamiejsca.$t}}, </span>{{event.gsx$miasto.$t}}, {{event.gsx$adres.$t}}
            </a>
          </p>
          <p class="event-description">
            {{event.gsx$opis.$t}}
            <br>
            <a href="{{event | googleCalendarUrl}}" target="_blank" class="event-calendar">
              dodaj do kalendarza Google
            </a>
          </p>
        </div>
      </div>
    </div>
    <a href="/dodaj.html">
      <div class="col-sm-2">
        <div class="add-label">
          +
        </div>
      </div>
      <div class="col-sm-10">
        <div class="add-content">
          <strong>Dodaj wydarzenie</strong>
        </div>
      </div>
    </a>
  </div>
  {% endraw %}
</main>
