<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div>
          <a href="mailto:kontakt@slaskit.pl">Skontaktuj się z nami</a>
        </div>
        <div>
          <a href="http://slaskit.us9.list-manage2.com/unsubscribe?u=4d99c9846b7bf1b585b607c23&id=24f355c745">Zrezygnuj z subskrypcji</a>
        </div>
      </div>
      <div class="col-xs-4 text-right">
        <a href="https://twitter.com/slask_it" class="social">
          <svg viewBox="0 0 172 140" height="20">
            {% include svg/twitter.svg %}
          </svg>
        </a>

        <a href="https://github.com/cowbell/slaskit.pl" class="social">
          <svg viewBox="0 0 41 41" height="20">
            {% include svg/github.svg %}
          </svg>
        </a>

        <a href="https://cowbell-labs.com/" class="social">
          <svg viewBox="0 0 20 20" height="20">
            {% include svg/cowbell-labs.svg %}
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
