<header class="hero text-center">
  <a href="/">
    {% include svg/logo.svg %}
  </a>

  <form class="hero-form" action="//slaskit.us9.list-manage.com/subscribe/post?u=4d99c9846b7bf1b585b607c23&amp;id=24f355c745" method="post" target="_blank">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-push-2">
          <fieldset>
            <div class="input-group">
              <input placeholder="adres email" type="email" name="EMAIL" class="form-control" required>
              <span class="input-group-btn">
                <button class="btn" type="submit">Dopisz się do listy</button>
              </span>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </form>

  <div class="hero-text">
    <div class="container">
      Każdej niedzieli wysyłamy jedną wiadomość zawierającą
      <br>
      wydarzenia nadchodzącego tygodnia
    </div>
  </div>
</header>
