<header class="hero">
  {% include svg/logo.svg %}
  <form class="hero-form" action="//slaskit.us9.list-manage.com/subscribe/post?u=4d99c9846b7bf1b585b607c23&amp;id=24f355c745" method="post" target="_blank">
    <fieldset>
      <input placeholder="adres email" type="email" name="EMAIL" required>
      <button type="submit">Zapisz się do listy</button>
    </fieldset>
  </form>
  <div class="hero-text">
    Każdej niedzieli wysyłamy jedną wiadomość zawierającą
    <br>
    wydarzenia nadchodzącego tygodnia.
  </div>
</header>
