/* $font-size-base: 16px !default; */

/* $navbar-height: 100px; */

/* $grid-gutter-width: 30px; */

/* // Small screen / tablet */
/* $container-tablet: (720px + $grid-gutter-width); */
/* //\** For `$screen-sm-min` and up. */
/* $container-sm: $container-tablet; */

/* // Medium screen / desktop */
/* $container-desktop: (720px + $grid-gutter-width) !default; */
/* //\** For `$screen-md-min` and up. */
/* $container-md: $container-desktop !default; */

/* // Large screen / wide desktop */
/* $container-large-desktop: (720px + $grid-gutter-width) !default; */
/* //\** For `$screen-lg-min` and up. */
/* $container-lg: $container-large-desktop !default; */
